<div style="position: relative; padding-left: {% widthratio comment.depth 1 23|add:15 %}px; padding-top: 10px;">
    <div class="thread-line-container" style="left: 0px">
        <li class="thread-line"></li>
    </div>
    <div class="comment-vote-title-container">
        <vote-container orientation='vertical' location='modal' vote-total={{comment.voteTotal}} type='comment'
            comment-id={{comment.id}} vote-state={{comment.voteState}}>
        </vote-container>
        <div class="comment-container">
            <p class="comment-author">{%if comment.author.username%} {{comment.author.username}} {%else%}
                u/deleted {%endif%} </p>
            <div class="parent-comment">{{comment.content}}</div>
            <div class="reply-button-container"><button class="reply-button">Reply</button></div>


            <div>{{form}}
                <div class="submit-comment-container">
                    <button v-on:click='emitReply' class="submit-comment-button">Reply</button>

                </div>

            </div>


        </div>

    </div>
</div>