{% load static %} <div id='posts-container' class='posts-container'> {% if posts %} {% for post in posts %} <div
        data-id={{post.id}} class="card-container">
        <div class="card-content-container ">
            <p class="card-author">ul/{% if post.author %}{{post.author.username}} {% else %}deleted {% endif %}</p>
            <h4 class="card-title">
                <li name='post-title' data-id="{{post.id}}">{{post.title}}</li>
            </h4>
            <div data-id="{{post.id}}" class="vote-container"> {% autoescape off %} <a data-id={{post.id}}
                    vote-type='post' class={% if post.voteState > 0 %} vote-state-active {% endif %}>{{uparrow}}</a>
                {% endautoescape %} <li>{{post.voteTotal}}</li> {% autoescape off %} <a data-id={{post.id}}
                    vote-type='post' class={% if post.voteState < 0 %} vote-state-active {% endif %}>{{downarrow}}</a>
                {% endautoescape %} </div>
        </div>
        <div class="edit-del-container">
            <div class="edit-del-content"><button class="delete-button"><svg class="MuiSvgIcon-root del-svg"
                        focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                        <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z">
                        </path>
                    </svg></button></div>
        </div>
    </div> {% endfor %} {% endif %} </div>